<h1> Which of these movies was released in <%= @year %> </h1>

<% @filtered_movies.each do |movies| %>
		<img src="<%= movies.poster %>" alt="Poster" style="width:300px;height:400px;">
		<form action="/check" method="post"> 
		<button type="submit" name="choose" value="<%=movies.id %>"> Select </button>
		</form>
<% end %>
