<!DOCTYPE html>
<html>	
	<h1> Movie Search </h1>
	<form action = "/question" method="post">
		<input type = "text" name="search" placeholder=" Good Will Hunting" />
		<br>
		<button type="submit"	name ="submit" value="submit">
			Search
		</button>
	</form>
</html>